/*-------- Header ---------- */
.Search {
	height: 50px;
	width: 400px;
	border: 5px solid #7b7777;
}

.border {
	border: 3px solid black;
}

table{
	border: 5px solid black;
	margin-bottom: 5px;
}

th{
	width: 100%;
}

/*------- body ---------*/


.pfile{
    border-radius: 40%;
    margin-top: 4.5%;
    margin-left: 25.25%;
}
.pname{
    font-size: 15px;
    margin-left: 25%;
    margin-top: auto;

}

.frage_eins{
    border: 1px solid black;
    padding: 33px;
    margin-left: 30%;
    margin-top: 4%;
    position: absolute;
    font-size: 20px;
}

.antwort_feld{
    resize: none;
    margin-left: 30.25%;
    height: 60px;
}

.frage_submit{
    padding: 3px 20px;
    margin-left: 63.5%;
    margin-top: -25px;
    
}

#all_vote{
    margin-left: 69.25%;
    position: absolute;
    margin-top: -11%;
}
.bild_oben{
    position: absolute;
    margin-left: 10.25px;

}

.bild_unten{
    margin-left: 10.25px;
    margin-top: -15px;
    position: absolute;
}

.votecounter{
    margin-top: 35px;
}



.antwort_pfile{
    border-radius: 40%;
    margin-top: 2.5%;
    margin-left: 25.75%;
}
.antwort_pname{
    font-size: 15px;
    margin-left: 25%;
    margin-top: auto;

}

.antwort_eins{
    border: 1px solid black;
    padding: 23px;
    margin-left: 30%;
    margin-top: 2%;
    position: absolute;
    font-size: 20px;
}

.antwort_pfile_zwei{
    border-radius: 40%;
    margin-top: 2.5%;
    margin-left: 25.75%;
}
.antwort_pname_zwei{
    font-size: 15px;
    margin-left: 25%;
    margin-top: auto;

}

.antwort_zwei{
    border: 1px solid black;
    padding: 23px;
    margin-left: 30%;
    margin-top: 2%;
    position: absolute;
    font-size: 20px;
}

.antwort_pfile_drei{
    border-radius: 40%;
    margin-top: 2.5%;
    margin-left: 25.75%;
}
.antwort_pname_drei{
    font-size: 15px;
    margin-left: 25%;
    margin-top: auto;

}

.antwort_drei{
    border: 1px solid black;
    padding: 23px;
    margin-left: 30%;
    margin-top: 2%;
    position: absolute;
    font-size: 20px;
}