.formpage_main{
    margin: auto;
    width: 25%;
    text-align: center;
}

.formpage_main h1{
    width: auto;
    font-size: 45px;
}

.text_input{
    float: center;
    width: 92.5%;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.text_input_left{
    float: left;
    width: 41%;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.text_input_right{
    float: right;
    width: 41%;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.submit_button{
    width: auto;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.link_button {
    width: auto;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.text{
    width: auto;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}